body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    background:#34495e;
}
.box{
    width: 300px;
    padding:30px;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:white;
    border-radius:45px;
    box-shadow:2px 2px 2px black;
}
.box h1{
    color:black;
    text-transform:uppercase;
    font-weight:500;
}
.box input[type="text"],.box input[type="password"]{
    border:0;
    background:none;
    margin:20px auto;
    display:block;
    text-align:center;
    border:2px solid#2498db;
    padding:14px 10px;
    width: 200px;
    outline:none;
    color:white;
    border-radius:24px;
    transition:0.25s;
}
.box input[type="text"]:focus,.box input[type="password"]:focus{
    border-color:#2ecc71;
    width:280px;
}
.box input[type="submit"]{
      border:0;
    background:none;
    margin:20px auto;
    display:block;
    text-align:center;
    border:2px solid#2ecc71;
    padding:14px 10px;
    outline:none;
    color:blacd;
    border-radius:24px;
    transition:0.25s;
    cursor:pointer;
    width:150px;
}
.box input[type="submit"]:hover{
    background:#2ecc71;
}